body {
    background-color: lightblue;
    margin: 0;
    text-decoration: none;
}
#app {
    width: 100%;
    padding: 0 10%;
}
#contacts {
    width: 80%;
}
.card_contact {
    border: 1px solid black;
    border-radius: 8px;
    background-color: darkcyan;
}

.display_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hide_form {
    display: none;
}