.searchbar {
    width: 60vw;
    margin-left: 20vw;
}

.searchbar div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.searchbar input {
    width: 40vw;
    padding: 7px;
    border-width: 0;
    border-bottom: var(--main-color) solid 2px;
    font-size: 18px;
    transition: 0.2s;
}

.searchbar button {
    padding: 8px;
    border-radius: 7px;
    border-width: 0;
    background-color: var(--main-color);
    border: var(--main-color) 2px solid;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: 0.2s;
}

.searchbar input:focus {
    outline: none;
    border-radius: 5px;
    background-color: rgba(186,218,1,0.2);
    border-bottom: var(--main-color) solid 1px;
}

.searchbar button:hover {
    cursor: pointer;
    transform: scale(1.01);
    color: var(--main-color);
    background-color: transparent;
}

@media screen and (max-width: 990px) {
    .searchbar {
        width: 90%;
        margin-left: 5%;
    }
    .searchbar div {
        justify-content: space-between;
    }
    .searchbar input {
        width: 60%;
    }
}

@media screen and (max-width: 500px) {
    .searchbar button {
        font-size: 13px;
    }
}