body, input, p, button {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Merriweather', serif;
}

.loading {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
